# <span style="text-decoration: underline">Assessment 2019 Fundamentals of Data Analysis</span>

## This assessment concerns the well-known tips dataset and the Python packages seaborn and jupyter.

1. Create a jupyter notebook that uses descriptive statistics and plots to describe the tips dataset.
1. To the above jupyter notebook add a section that discusses and analyses whether there is a relationship 
between the total bill and tip amount.
1. Using the same notebook, analyse the relationship between the
variables within the dataset. You are free to interpret this as you wish — for
example, you may analyse all pairs of variables, or select a subset and analyse
those.
***

# Introduction

What are tips?
A gratuity (also called a tip) is a sum of money customarily given by a client or 
customer to certain service sector workers for the service they have performed, in addition to the basic price of the service


According to https://www.tripadvisor.ie 
There is not a strong tipping culture in Ireland but many locals and visitors tend to tip for certain services, 
in particular restaurants, taxis and personal services (e.g. hairdressing). 
If you want to tip and are in doubt about how much, think 10%. All tips are at your discretion!

https://www.irishtimes.com/life-and-style/food-and-drink/before-you-leave-a-tip-in-an-irish-restaurant-read-this-1.3857096
In April of this year,an Irish Times article explored the phenomenon of business owners taking the "tips" left by customers
and using these funds to pay wages, rather than distributing them amongst staff as a bonus.

***

# 1. Create a jupyter notebook that uses descriptive statistics and plots to describe the tips dataset.

Descriptive statistics describe data. 
It’s a way to summarise and organise collected data into a manageable format that is easy to understand. 
Data visualization refers to taking the data and converting it into a more visual form. 
Instead of viewing numbers on spreadsheets, a picture is produced that represents that information.
This is a useful tool for optimal communication of ideas that are backed up with statistics.

In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Even if you don't know anything about a particular dataset there are a few simple commands to produce an overview.<br>
Immediately it can be seen that 244 rows and 7 columns categories in the dataset

In [16]:
print("Display dataset as a dataframe")
dataset= "tips"
#tips dataset is available in pandas library
print (tips)

Display dataset as a dataframe

NameError: name 'tips' is not defined

In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="darkgrid")
#Mandatory dependencies for seaborn are: NumPy, Matplotlib,Pandas

#On first time running this code, it was unsuccessful and the following output appeared:

---------------------------------------------------------------------------
ModuleNotFoundError Traceback (most recent call last) in 2 import pandas as pd 3 import matplotlib.pyplot as plt ----> 4 import seaborn as sns 5 sns.set(style="darkgrid")

ModuleNotFoundError: No module named 'seaborn'

This is a common error and I found a solution on https://github.com/neptune-ml/open-solution-toxic-comments/issues/37 I returned to
    the command line and input pip install seaborn, tried to run the code again. this time I was successful.

In [13]:
import seaborn as sns 
#view all available datasets using this command
sns.get_dataset_names()

C:\Users\Acer\Anaconda3\lib\site-packages\seaborn\utils.py:376: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 376 of the file C:\Users\Acer\Anaconda3\lib\site-packages\seaborn\utils.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  gh_list = BeautifulSoup(http)

['anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'iris',
 'mpg',
 'planets',
 'tips',
 'titanic']

In [52]:
print("Display tips dataset as a dataframe")
#The "tips" dataset is a commonly used one that is built into the seaborn Python data visualization library
print (tips)

Display tips dataset as a dataframe
     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
5         25.29  4.71    Male     No   Sun  Dinner     4
6          8.77  2.00    Male     No   Sun  Dinner     2
7         26.88  3.12    Male     No   Sun  Dinner     4
8         15.04  1.96    Male     No   Sun  Dinner     2
9         14.78  3.23    Male     No   Sun  Dinner     2
10        10.27  1.71    Male     No   Sun  Dinner     2
11        35.26  5.00  Female     No   Sun  Dinner     4
12        15.42  1.57    Male     No   Sun  Dinner     2
13        18.43  3.00    Male     No   Sun  Dinner     4
14        14.83  3.02  Female     No   Sun  Dinner     2
15        21.58  3.92    Male     No   Sun  Dinner     2
16        10.33  1.67  Female     No   Sun  Dinner     3
17        16.29  3.71    Male     No   Sun  Dinner     3
18        16.97  3.50  Female     No   Sun  Dinner     3
19        20.65  3.35    Male     No   Sat  Dinner     3
20        17.92  4.08    Male     No   Sat  Dinner     2
21        20.29  2.75  Female     No   Sat  Dinner     2
22        15.77  2.23  Female     No   Sat  Dinner     2
23        39.42  7.58    Male     No   Sat  Dinner     4
24        19.82  3.18    Male     No   Sat  Dinner     2
25        17.81  2.34    Male     No   Sat  Dinner     4
26        13.37  2.00    Male     No   Sat  Dinner     2
27        12.69  2.00    Male     No   Sat  Dinner     2
28        21.70  4.30    Male     No   Sat  Dinner     2
29        19.65  3.00  Female     No   Sat  Dinner     2
..          ...   ...     ...    ...   ...     ...   ...
214       28.17  6.50  Female    Yes   Sat  Dinner     3
215       12.90  1.10  Female    Yes   Sat  Dinner     2
216       28.15  3.00    Male    Yes   Sat  Dinner     5
217       11.59  1.50    Male    Yes   Sat  Dinner     2
218        7.74  1.44    Male    Yes   Sat  Dinner     2
219       30.14  3.09  Female    Yes   Sat  Dinner     4
220       12.16  2.20    Male    Yes   Fri   Lunch     2
221       13.42  3.48  Female    Yes   Fri   Lunch     2
222        8.58  1.92    Male    Yes   Fri   Lunch     1
223       15.98  3.00  Female     No   Fri   Lunch     3
224       13.42  1.58    Male    Yes   Fri   Lunch     2
225       16.27  2.50  Female    Yes   Fri   Lunch     2
226       10.09  2.00  Female    Yes   Fri   Lunch     2
227       20.45  3.00    Male     No   Sat  Dinner     4
228       13.28  2.72    Male     No   Sat  Dinner     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
230       24.01  2.00    Male    Yes   Sat  Dinner     4
231       15.69  3.00    Male    Yes   Sat  Dinner     3
232       11.61  3.39    Male     No   Sat  Dinner     2
233       10.77  1.47    Male     No   Sat  Dinner     2
234       15.53  3.00    Male    Yes   Sat  Dinner     2
235       10.07  1.25    Male     No   Sat  Dinner     2
236       12.60  1.00    Male    Yes   Sat  Dinner     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [17]:
#print ("The layout of a datuaseries is more attractive!")
#tips = sns.load_dataset("tips")
#tips
df = sns.load_dataset("tips")
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
5         25.29  4.71    Male     No   Sun  Dinner     4
6          8.77  2.00    Male     No   Sun  Dinner     2
7         26.88  3.12    Male     No   Sun  Dinner     4
8         15.04  1.96    Male     No   Sun  Dinner     2
9         14.78  3.23    Male     No   Sun  Dinner     2
10        10.27  1.71    Male     No   Sun  Dinner     2
11        35.26  5.00  Female     No   Sun  Dinner     4
12        15.42  1.57    Male     No   Sun  Dinner     2
13        18.43  3.00    Male     No   Sun  Dinner     4
14        14.83  3.02  Female     No   Sun  Dinner     2
15        21.58  3.92    Male     No   Sun  Dinner     2
16        10.33  1.67  Female     No   Sun  Dinner     3
17        16.29  3.71    Male     No   Sun  Dinner     3
18        16.97  3.50  Female     No   Sun  Dinner     3
19        20.65  3.35    Male     No   Sat  Dinner     3
20        17.92  4.08    Male     No   Sat  Dinner     2
21        20.29  2.75  Female     No   Sat  Dinner     2
22        15.77  2.23  Female     No   Sat  Dinner     2
23        39.42  7.58    Male     No   Sat  Dinner     4
24        19.82  3.18    Male     No   Sat  Dinner     2
25        17.81  2.34    Male     No   Sat  Dinner     4
26        13.37  2.00    Male     No   Sat  Dinner     2
27        12.69  2.00    Male     No   Sat  Dinner     2
28        21.70  4.30    Male     No   Sat  Dinner     2
29        19.65  3.00  Female     No   Sat  Dinner     2
..          ...   ...     ...    ...   ...     ...   ...
214       28.17  6.50  Female    Yes   Sat  Dinner     3
215       12.90  1.10  Female    Yes   Sat  Dinner     2
216       28.15  3.00    Male    Yes   Sat  Dinner     5
217       11.59  1.50    Male    Yes   Sat  Dinner     2
218        7.74  1.44    Male    Yes   Sat  Dinner     2
219       30.14  3.09  Female    Yes   Sat  Dinner     4
220       12.16  2.20    Male    Yes   Fri   Lunch     2
221       13.42  3.48  Female    Yes   Fri   Lunch     2
222        8.58  1.92    Male    Yes   Fri   Lunch     1
223       15.98  3.00  Female     No   Fri   Lunch     3
224       13.42  1.58    Male    Yes   Fri   Lunch     2
225       16.27  2.50  Female    Yes   Fri   Lunch     2
226       10.09  2.00  Female    Yes   Fri   Lunch     2
227       20.45  3.00    Male     No   Sat  Dinner     4
228       13.28  2.72    Male     No   Sat  Dinner     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
230       24.01  2.00    Male    Yes   Sat  Dinner     4
231       15.69  3.00    Male    Yes   Sat  Dinner     3
232       11.61  3.39    Male     No   Sat  Dinner     2
233       10.77  1.47    Male     No   Sat  Dinner     2
234       15.53  3.00    Male    Yes   Sat  Dinner     2
235       10.07  1.25    Male     No   Sat  Dinner     2
236       12.60  1.00    Male    Yes   Sat  Dinner     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [20]:
print (df.head())
#this linux command returns 5 as a default
print(df.tail(3))
#this time 3 is passed into the argument, otherwise 5 outputs would print

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
     total_bill   tip     sex smoker   day    time  size
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [56]:
df.describe()
#if parentheses ()are not used, all columns will display but no useful descriptive summaries!

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [21]:
#3 is passed into the argument, otherwise 5 outputs would print
#sns calls seaborn
tips = sns.load_dataset("tips")
tips.tail(3)
#this is a good command to use to get the integrity of the dataset,particularly if it is a large one 
#or if it may contain non english characters where vowel accents may cause the data to be rendered
#incorrectly. Checking the last outputs will indicate if something has gone wrong.

     total_bill   tip     sex smoker   day    time  size
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [22]:
#command returns 5 as a default
tips = sns.load_dataset("tips")
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [23]:
df['tip']
#putting the column label into square brackets produces output of a list from that column in data frame format

0      1.01
1      1.66
2      3.50
3      3.31
4      3.61
5      4.71
6      2.00
7      3.12
8      1.96
9      3.23
10     1.71
11     5.00
12     1.57
13     3.00
14     3.02
15     3.92
16     1.67
17     3.71
18     3.50
19     3.35
20     4.08
21     2.75
22     2.23
23     7.58
24     3.18
25     2.34
26     2.00
27     2.00
28     4.30
29     3.00
       ...
214    6.50
215    1.10
216    3.00
217    1.50
218    1.44
219    3.09
220    2.20
221    3.48
222    1.92
223    3.00
224    1.58
225    2.50
226    2.00
227    3.00
228    2.72
229    2.88
230    2.00
231    3.00
232    3.39
233    1.47
234    3.00
235    1.25
236    1.00
237    1.17
238    4.67
239    5.92
240    2.00
241    2.00
242    1.75
243    3.00
Name: tip, Length: 244, dtype: float64

In [24]:
#this syntax is wrong
#df['tip','day']
#this syntax (double square brackets) is correct
df[['tip', 'day']]
#the single column output (above) looks different it is less formatted that the output below and is a data series.

      tip   day
0    1.01   Sun
1    1.66   Sun
2    3.50   Sun
3    3.31   Sun
4    3.61   Sun
5    4.71   Sun
6    2.00   Sun
7    3.12   Sun
8    1.96   Sun
9    3.23   Sun
10   1.71   Sun
11   5.00   Sun
12   1.57   Sun
13   3.00   Sun
14   3.02   Sun
15   3.92   Sun
16   1.67   Sun
17   3.71   Sun
18   3.50   Sun
19   3.35   Sat
20   4.08   Sat
21   2.75   Sat
22   2.23   Sat
23   7.58   Sat
24   3.18   Sat
25   2.34   Sat
26   2.00   Sat
27   2.00   Sat
28   4.30   Sat
29   3.00   Sat
..    ...   ...
214  6.50   Sat
215  1.10   Sat
216  3.00   Sat
217  1.50   Sat
218  1.44   Sat
219  3.09   Sat
220  2.20   Fri
221  3.48   Fri
222  1.92   Fri
223  3.00   Fri
224  1.58   Fri
225  2.50   Fri
226  2.00   Fri
227  3.00   Sat
228  2.72   Sat
229  2.88   Sat
230  2.00   Sat
231  3.00   Sat
232  3.39   Sat
233  1.47   Sat
234  3.00   Sat
235  1.25   Sat
236  1.00   Sat
237  1.17   Sat
238  4.67   Sat
239  5.92   Sat
240  2.00   Sat
241  2.00   Sat
242  1.75   Sat
243  3.00  Thur

[244 rows x 2 columns]

In [25]:
#to demonstrate an important concept in pandas - location
#this command produces output from row 200 up to but not including 206
#pandas associates index with the dataframe and that the index is a part of it
#this command relates to the position of the rows by default and does not take the index into account
df[0:5]

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [26]:
#by specifying ".loc" in this version a different output is received because it is linked directly to the index labelling 
#instead.
df.loc[0:5]

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4

In [27]:
#by inserting arguments, a sub-selection of data-points in rows 200-205 can be output
df[['tip', 'sex']][200:206]

      tip     sex
200  4.00    Male
201  2.01  Female
202  2.00  Female
203  2.50  Female
204  4.00    Male
205  3.23  Female

In [28]:
#a different syntax is required when using .loc
df.loc[200:206, ['tip' , 'sex']]

      tip     sex
200  4.00    Male
201  2.01  Female
202  2.00  Female
203  2.50  Female
204  4.00    Male
205  3.23  Female
206  3.41    Male

In [29]:
# .loc and .iloc identify the same data point when an index it entered as an argument
df.iloc[204]

total_bill    20.53
tip               4
sex            Male
smoker          Yes
day            Thur
time          Lunch
size              4
Name: 204, dtype: object

In [30]:
df.loc[204]

total_bill    20.53
tip               4
sex            Male
smoker          Yes
day            Thur
time          Lunch
size              4
Name: 204, dtype: object

In [31]:
#.at used to access a single value for a row/column label pair.
df.at[204, 'day']

'Thur'

In [51]:
#this command includes a value at either side of a colon to indicate particular records
#Using the == symbol, the output will be in Boolean format True/False 
#just one = will not produce output
df.loc[200:204, 'day'] == 'Sun'

200    False
201    False
202    False
203    False
204    False
Name: day, dtype: bool

In [50]:
#this command does not include any values on either side of the colon which indicate all rows are included
df.loc[:, 'day'] == 'Sun'

0       True
1       True
2       True
3       True
4       True
5       True
6       True
7       True
8       True
9       True
10      True
11      True
12      True
13      True
14      True
15      True
16      True
17      True
18      True
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
214    False
215    False
216    False
217    False
218    False
219    False
220    False
221    False
222    False
223    False
224    False
225    False
226    False
227    False
228    False
229    False
230    False
231    False
232    False
233    False
234    False
235    False
236    False
237    False
238    False
239    False
240    False
241    False
242    False
243    False
Name: day, Length: 244, dtype: bool

In [34]:
#this is a useful tool using Boolean values to select item
#the command outputs only the results== Sun from the set in the previous cell
df.loc[df.loc[:, 'day'] == 'Sun']

     total_bill   tip     sex smoker  day    time  size
0         16.99  1.01  Female     No  Sun  Dinner     2
1         10.34  1.66    Male     No  Sun  Dinner     3
2         21.01  3.50    Male     No  Sun  Dinner     3
3         23.68  3.31    Male     No  Sun  Dinner     2
4         24.59  3.61  Female     No  Sun  Dinner     4
5         25.29  4.71    Male     No  Sun  Dinner     4
6          8.77  2.00    Male     No  Sun  Dinner     2
7         26.88  3.12    Male     No  Sun  Dinner     4
8         15.04  1.96    Male     No  Sun  Dinner     2
9         14.78  3.23    Male     No  Sun  Dinner     2
10        10.27  1.71    Male     No  Sun  Dinner     2
11        35.26  5.00  Female     No  Sun  Dinner     4
12        15.42  1.57    Male     No  Sun  Dinner     2
13        18.43  3.00    Male     No  Sun  Dinner     4
14        14.83  3.02  Female     No  Sun  Dinner     2
15        21.58  3.92    Male     No  Sun  Dinner     2
16        10.33  1.67  Female     No  Sun  Dinner     3
17        16.29  3.71    Male     No  Sun  Dinner     3
18        16.97  3.50  Female     No  Sun  Dinner     3
41        17.46  2.54    Male     No  Sun  Dinner     2
42        13.94  3.06    Male     No  Sun  Dinner     2
43         9.68  1.32    Male     No  Sun  Dinner     2
44        30.40  5.60    Male     No  Sun  Dinner     4
45        18.29  3.00    Male     No  Sun  Dinner     2
46        22.23  5.00    Male     No  Sun  Dinner     2
47        32.40  6.00    Male     No  Sun  Dinner     4
48        28.55  2.05    Male     No  Sun  Dinner     3
49        18.04  3.00    Male     No  Sun  Dinner     2
50        12.54  2.50    Male     No  Sun  Dinner     2
51        10.29  2.60  Female     No  Sun  Dinner     2
..          ...   ...     ...    ...  ...     ...   ...
157       25.00  3.75  Female     No  Sun  Dinner     4
158       13.39  2.61  Female     No  Sun  Dinner     2
159       16.49  2.00    Male     No  Sun  Dinner     4
160       21.50  3.50    Male     No  Sun  Dinner     4
161       12.66  2.50    Male     No  Sun  Dinner     2
162       16.21  2.00  Female     No  Sun  Dinner     3
163       13.81  2.00    Male     No  Sun  Dinner     2
164       17.51  3.00  Female    Yes  Sun  Dinner     2
165       24.52  3.48    Male     No  Sun  Dinner     3
166       20.76  2.24    Male     No  Sun  Dinner     2
167       31.71  4.50    Male     No  Sun  Dinner     4
172        7.25  5.15    Male    Yes  Sun  Dinner     2
173       31.85  3.18    Male    Yes  Sun  Dinner     2
174       16.82  4.00    Male    Yes  Sun  Dinner     2
175       32.90  3.11    Male    Yes  Sun  Dinner     2
176       17.89  2.00    Male    Yes  Sun  Dinner     2
177       14.48  2.00    Male    Yes  Sun  Dinner     2
178        9.60  4.00  Female    Yes  Sun  Dinner     2
179       34.63  3.55    Male    Yes  Sun  Dinner     2
180       34.65  3.68    Male    Yes  Sun  Dinner     4
181       23.33  5.65    Male    Yes  Sun  Dinner     2
182       45.35  3.50    Male    Yes  Sun  Dinner     3
183       23.17  6.50    Male    Yes  Sun  Dinner     4
184       40.55  3.00    Male    Yes  Sun  Dinner     2
185       20.69  5.00    Male     No  Sun  Dinner     5
186       20.90  3.50  Female    Yes  Sun  Dinner     3
187       30.46  2.00    Male    Yes  Sun  Dinner     5
188       18.15  3.50  Female    Yes  Sun  Dinner     3
189       23.10  4.00    Male    Yes  Sun  Dinner     3
190       15.69  1.50    Male    Yes  Sun  Dinner     2

[76 rows x 7 columns]

In [42]:
#rename the above output as x
x=df.loc[df.loc[:, 'day'] == 'Sun']

In [43]:
#call for the 190th row
#using loc,linked to original index values
x.loc [190]

total_bill     15.69
tip              1.5
sex             Male
smoker           Yes
day              Sun
time          Dinner
size               2
Name: 190, dtype: object

In [49]:
#to call for what is the 190th row in the above cell use 75 instead
#this time using iloc,linked to new position in a dataframe with 76 rows (0-75 in computer counting)
x.iloc [75]

total_bill     15.69
tip              1.5
sex             Male
smoker           Yes
day              Sun
time          Dinner
size               2
Name: 190, dtype: object

In [35]:
#this command includes a value at either side of a colon to indicate particular records
df.loc[200:204, 'day'] == 'Sun'

200    False
201    False
202    False
203    False
204    False
Name: day, dtype: bool

NameError: name 'x' is not defined

In [ ]:
print("Data Visualisation - relationship between total bill and tip value")

tips = sns.load_dataset("tips")
#I know from earlier exploration that there are 7 different categories of data: total_bill,tip,sex,smoker,day,time,size
#which can be displayed on axes as required
sns.relplot(x="total_bill", y="tip", data=tips);

print("Data Visualisation - relationship between tip and gender")
sns.relplot(x="tip", y="sex", data=tips);

#Breakdown of the script:
#relplot is short relationship plot, a function that enables plotting on data-aware grids
#The scatterplot() is the default kind in relplot() (it can also be forced by setting kind="scatter")
#the script identifies the variables to display on x and y axis and where the data originates from

In [ ]:
print("Data Visualisation - relationship between total bill, tip value and smoker status")
sns.relplot(x="total_bill", y="tip", hue="smoker", data=tips);

#This script revisits the bill versus tip plot, but adds a THIRD DIMENSION??!!
#the "hue" parameter lets seaborn know the different data points in a particular grouping should be distinguished by colour.

# 2. To the above jupyter notebook add a section that discusses and analyses whether there is a relationship between the total bill and tip amount.

# 3. Using the same notebook, analyse the relationship between the variables within the dataset. You are free to interpret this as you wish — for example, you may analyse all pairs of variables, or select a subset and analyse those.

# Conclusion

***